*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #ffffff;
}

body {
  font-family: 'Assistant', sans-serif;
  font-size: 1.8rem;
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 48em) {
  body {
    font-size: 2rem;
  }
}

@media (min-width: 62em) {
  body {
    font-size: 2.5rem;
  }
}

p {
  line-height: 4rem;
}

.container {
  margin: 0 auto;
  max-width: 90%;
  padding: 2rem 1rem;
}

@media (min-width: 43em) {
  .container {
    width: 80%;
  }
}

@media (min-width: 48em) {
  .container {
    width: 70%;
  }
}

@media (min-width: 62em) {
  .container {
    width: 60%;
  }
}

@media (min-width: 82em) {
  .container {
    width: 50%;
  }
}

.section {
  border-bottom: 1px solid #000000;
  padding: 2rem;
  margin: 20px 0;
}
