.header-container {
  margin: 0 auto;
  max-width: 100%;
  max-width: 1200px;
}

.name {
  font-size: 6vw;
  font-weight: 400;
}

.name strong {
  font-weight: 600;
}

.name span {
  display: block;
}
