.hero {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.h-tile {
  position: relative;
  display: inline-block;

  &__body {
    position: absolute;
    bottom: 20px;
    height: 30%;
    width: 100%;
    background-color: var(--bg-color-blue);
    z-index: -1;
  }

  &__shadow {
    position: absolute;
    bottom: 0em;
    right: -0.1em;
    height: 30%;
    width: 100%;
    background-image: repeating-linear-gradient(
      45deg,
      var(--color-light),
      var(--color-light) 1px,
      transparent 1px,
      transparent 4px
    );
    z-index: -2;

    // @media (max-width: 600px) {
    //   background-image: repeating-linear-gradient(
    //     45deg,
    //     #ffffff,
    //     #00aeff 0.3px,
    //     transparent 0.3px,
    //     transparent 1.3px
    //   );
    // }
  }
}

.title {
  // font-family: 'Lobster Two', cursive;
  // font-family: 'Martel Sans', sans-serif;
  // font-family: 'Martel', serif;
  // font-family: 'Scheherazade', serif;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: clamp(30px, 6vw, 80px);

  span {
    display: block;
  }

  &__name {
  }

  &__description {
  }
}

.name {
  font-size: 4vw;
  font-weight: 400;
}

.name span {
  display: block;
}
