.hero {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: clamp(33px, 7vw, 80px);
  color: #3b384c;
  letter-spacing: 0.01cm;

  span {
    display: block;
  }

  &__name {
    font-size: clamp(20px, 4vw, 30px);
  }

  &__description {
    font-size: clamp(40px, 8vw, 80px);

    strong {
      font-size: clamp(40px, 7vw, 100px);
      font-weight: 400;
      position: relative;
      z-index: 1;

      &::after {
        position: absolute;
        left: 2px;
        top: 2px;
        content: attr(data-text);
        margin-right: -4px;
        background-image: radial-gradient(
          #f8dada 0%,
          #f8dada 60%,
          transparent 60%
        );
        background-size: 2px 2px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: -5;
        display: block;
        text-shadow: none;
      }
    }
  }
}
